.combat-container {
  border: none;
  background: rgba(114, 59, 44, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.agent-location-container {
  clip-path: polygon(
    0 0,
    85% 0,
    100% 25%,
    100% 100%,
    15% 100%,
    0 85%
  );
}

.pulse-bg:hover {
  animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-color: #cacaca00;
  }
  50% {
    background-color: #cacaca44;
  }
  100% {
    background-color: #cacaca00;
  }
}

.locations-agent-icon-container .locations-agent-icon:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.locations-agent-icon-container .locations-agent-icon:nth-child(2),.locations-agent-icon:nth-child(3) {
  margin-left: -10%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}

.locations-spy-icon-container .locations-spy-icon:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.locations-spy-icon-container .locations-spy-icon:nth-child(2),.locations-spy-icon:nth-child(3) {
  margin-left: -30%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}

.scroll-area-faction-space .mantine-Stack-root {
  padding-bottom: 100px;
}