.in-hand-cards-row {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(75%);
  background: linear-gradient(
    to top,
    rgba(27, 42, 51, 0.5) 0%,
    rgba(27, 42, 51, 0.4) 40%,
    rgba(27, 42, 51, 0.3) 50%,
    rgba(27, 42, 51, 0.1) 90%,
    rgba(27, 42, 51, 0) 100%
  ) no-repeat;
}

.in-hand-card {
  min-width: auto;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.in-hand-card:hover {
  transform: translateY(0%);
  z-index: 0;
}

.text-card-type {
  padding-bottom: 6px;
  color: #d1d1d1;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  writing-mode: vertical-lr;
  text-align: center;
  text-orientation: mixed;
  transform: rotate(-180deg);
}