.player-container {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-size: cover;
  background: url("../assets/container_bg_2.png") no-repeat;
  border: 1px solid #cacaca55;
}

.current-player-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: url("../assets/container_bg_2.png") no-repeat;
  border: 1px solid #cacaca55;
  background-size: cover;
}

.player-container-current-player-red {
  background-size: cover;
  background: linear-gradient(
    to right,
    rgba(183, 65, 14, 0.6) 0%,
    rgba(183, 65, 14, 0.4) 20%,
    rgba(183, 65, 14, 0.25) 80%,
    rgba(183, 65, 14, 0.1) 100%
  ) no-repeat;
}

.player-container-current-player-blue {
  background-size: cover;
  background: linear-gradient(
    to right,
    rgba(0, 71, 171, 0.6) 0%,
    rgba(0, 71, 171, 0.4) 20%,
    rgba(0, 71, 171, 0.25) 80%,
    rgba(0, 71, 171, 0.1) 100%
  ), url("../assets/container_bg_2.png") no-repeat;
}

.player-container-current-player-gold {
  background-size: cover;
  background: linear-gradient(
    to right,
    rgba(101, 70, 15, 0.6) 0%,
    rgba(101, 70, 15, 0.4) 20%,
    rgba(101, 70, 15, 0.25) 80%,
    rgba(101, 70, 15, 0.1) 100%
  ) no-repeat;
}

.player-container-current-player-green {
  background-size: cover;
  background: linear-gradient(
    to right,
    rgba(44, 95, 52, 0.6) 0%,
    rgba(44, 95, 52, 0.4) 20%,
    rgba(44, 95, 52, 0.25) 80%,
    rgba(44, 95, 52, 0.1) 100%
  ) no-repeat;
}

.player-avatar {
  clip-path: polygon(0% 85%, 15% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.player-info {
  display: flex;
  width: 100%;
}

.player-container-text {
  color: #fafafa
}

.player-action-button {
  transition: filter 0.4s ease-in-out;
}

.player-action-button:hover {
  filter: drop-shadow(0 0 1em #94664d);
}

.player-resource-modifier-text {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "IBM Plex Sans", sans-serif;
  text-shadow: 0 0 6px rgba(255,255,255,0.7);
}

.player-resource-modifier-button {
  border-width: 2px;
}

.players-agent-icon-container .players-agent-icon:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.players-agent-icon-container .players-agent-icon:nth-child(2),.players-agent-icon:nth-child(3) {
  margin-top: -180%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}

.cards-popover {
  border: none;
  background: rgba(209, 152, 136, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.players-spy-icon-container .players-spy-icon:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.players-spy-icon-container .players-spy-icon:nth-child(2),.players-spy-icon:nth-child(3) {
  margin-left: -20%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}

.players-control-flag-icon-container .players-control-flag:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.players-control-flag-icon-container .players-control-flag-icon:nth-child(2),.players-control-flag-icon:nth-child(3) {
  margin-left: -20%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}