.player-container {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  background-size: cover;
  background: url("../assets/container_bg_2.png") no-repeat;
  border: 1px solid #cacaca55;
}

.current-player-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: url("../assets/container_bg_2.png") no-repeat;
  border: 1px solid #cacaca55;
  background-size: cover;
}

.player-container-current-player-red {
  background: linear-gradient(
    to right,
    rgba(183, 65, 14, 0.6) 0%,
    rgba(183, 65, 14, 0.4) 20%,
    rgba(183, 65, 14, 0.25) 80%,
    rgba(183, 65, 14, 0.1) 100%
  ), url("../assets/container_bg_2.png") no-repeat;
  background-size: cover;
}

.player-container-current-player-blue {
  background: linear-gradient(
    to right,
    rgba(0, 71, 171, 0.6) 0%,
    rgba(0, 71, 171, 0.4) 20%,
    rgba(0, 71, 171, 0.25) 80%,
    rgba(0, 71, 171, 0.1) 100%
  ), url("../assets/container_bg_2.png") no-repeat;
  background-size: cover;
}

.player-container-current-player-gold {
  background: linear-gradient(
    to right,
    rgba(101, 70, 15, 0.6) 0%,
    rgba(101, 70, 15, 0.4) 20%,
    rgba(101, 70, 15, 0.25) 80%,
    rgba(101, 70, 15, 0.1) 100%
  ), url("../assets/container_bg_2.png") no-repeat;
  background-size: cover;
}

.player-container-current-player-green {

  background: linear-gradient(
    to right,
    rgba(44, 95, 52, 0.6) 0%,
    rgba(44, 95, 52, 0.4) 20%,
    rgba(44, 95, 52, 0.25) 80%,
    rgba(44, 95, 52, 0.1) 100%
  ), url("../assets/container_bg_2.png") no-repeat;
  background-size: cover;
}

.player-info {
  display: flex;
  width: 100%;
}

.player-container-text {
  padding-bottom: 8px;
  color: #FAFAFA;
  font-weight: 500;
  text-shadow: 0 0 5px rgba(31, 31, 31, 1);
}

.player-action-button {
  transition: filter 0.4s ease-in-out;
}

.player-action-button:hover {
  filter: drop-shadow(0 0 1em #94664d);
}

.player-resource-modifier-text {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FAFAFA;
  font-family: "IBM Plex Sans", sans-serif;
  text-shadow: 0 0 5px rgba(31, 31, 31, 1);
}

.player-resource-modifier-button {
  border-width: 2px;
}

.mantine-ScrollArea-content {
  padding-left: 8px;
}

.fadeScroll .mantine-ScrollArea-viewport {
  mask-image: linear-gradient(
    to left,
    transparent 0,
    black 20px,
    black calc(100% - 20px),
    transparent 100%
  );
}

.players-agent-icon {
  filter: drop-shadow(3px 3px 6px rgba(50, 50, 50, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.cards-popover {
  border: none;
  background: rgba(209, 152, 136, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.players-spy-icon-container .players-spy-icon:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.players-spy-icon-container .players-spy-icon:nth-child(2),.players-spy-icon:nth-child(3) {
  margin-left: -20%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}

.players-control-flag-icon-container .players-control-flag:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.players-control-flag-icon-container .players-control-flag-icon:nth-child(2),.players-control-flag-icon:nth-child(3) {
  margin-left: -20%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}