.player-container {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-size: cover;
  background: linear-gradient(
    to right,
    rgba(209, 152, 136, 0.25) 0%,
    rgba(209, 152, 136, 0.20) 20%,
    rgba(209, 152, 136, 0.15) 40%,
    rgba(209, 152, 136, 0) 80%
  ) no-repeat;
  clip-path: polygon(0% 85%, 5% 100%, 100% 100%, 100% 0%, 0% 0%);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.player-avatar {
  clip-path: polygon(0% 85%, 15% 100%, 100% 100%, 100% 0%, 0% 0%);
}

.current-player-container {
  width: 100%;
  height: 100%;
  padding: 15px;
  margin-bottom: 15px;
  background-size: cover;
  background: linear-gradient(
    to right,
    rgba(209, 152, 136, 0.25) 0%,
    rgba(209, 152, 136, 0.20) 20%,
    rgba(209, 152, 136, 0.15) 40%,
    rgba(209, 152, 136, 0) 80%
  ) no-repeat;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.player-info {
  display: flex;
  width: 100%;
}

.player-container-text {
  color: #fafafa
}

.agent-icon-container .agent-icon:nth-child(1) {
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #313131)
}

.agent-icon-container .agent-icon:nth-child(2),.agent-icon:nth-child(3) {
  margin-top: -180%;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.5))
  drop-shadow(0px 0 0 #94664d)
}