.text-setup-step-name {
  color: #d1d1d1;
  padding: 25px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
}

.text-setup-lobby-name {
  top: 6px;
  color: #d1d1d1;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.text-setup-lobby-player-name {
  padding-bottom: 6px;
  color: #d1d1d1;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.setup-action-button-text {
  position: absolute;
  padding: 16px;
  top: 50%;
  left: 50%;
  color: #d1d1d1;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.setup-action-button {
  transition: filter 0.4s ease-in-out;
}

.setup-action-button-next {
  transition: filter 0.4s ease-in-out;
}

.setup-action-button-next:hover {
  filter: drop-shadow(0 0 1em #94664d);
}

.setup-action-button-selected {
  filter: drop-shadow(0 0 1em #94664d);
}

.setup-lobby-player-image {
  filter: drop-shadow(0 0 1em #94664d);
}

.lobby-agent-icon {
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2))
  drop-shadow(0px 0 0 #636363)
}